@{
    ViewData["Title"] = "Admin Panel";
}

<h2>Админ-панель</h2>

<p>Только для админов 🎩</p>
<ul>
    <li><a href="#">Управление пользователями</a></li>
    <li><a href="#">Журналы аудита</a></li>
    <li><a href="#">Резервные копии</a></li>
</ul>