.DS_Store
.gitignore
TechStoreEll.sln.DotSettings.user
.idea
other
other/superFinalNRscript.sql
TechStoreEll.Api/bin
TechStoreEll.Api/obj
TechStoreEll.Api/*.json
TechStoreEll.Web/bin
TechStoreEll.Web/obj
TechStoreEll.Web/.env
TechStoreEll.Web/*.json
TechStoreEll.sln.DotSettings.user
TechStoreEll.Web.zip
TechStoreEll.Web/node_modules
TechStoreEll.Core/bin
TechStoreEll.Core/obj
TechStoreEll.Core/*.json