@model TechStoreEll.Core.DTOs.ForgotPasswordDto

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Восстановление пароля</h2>
                    
                    <form asp-action="ForgotPassword" method="post">
                        <div class="form-group">
                            <label asp-for="Email">Введите ваш Email</label>
                            <input asp-for="Email" class="form-control" placeholder="example@email.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block mt-3">
                            Продолжить
                        </button>
                    </form>
                    
                    <div class="text-center mt-3">
                        <a asp-action="SignIn" class="text-muted">Вернуться к входу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>