@model TechStoreEll.Core.DTOs.LoginDto

@{
    ViewData["Title"] = "Войти";
}

<h2>Войти</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<form asp-action="SignIn" asp-controller="Auth" method="post">
    <div class="mb-3">
        <label asp-for="Username" class="form-label">Введите логин</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Введите пароль</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Войти</button>
</form>

<div class="mt-3">
    <p>
        Нет аккаунта?
        <a asp-controller="Auth" asp-action="SignUp">Зарегистрироваться</a>
    </p>

    <p>
        Забыли пароль?
        <a asp-controller="Auth" asp-action="ForgotPassword">Восстановить пароль</a>
    </p>
</div>