@model TechStoreEll.Core.DTOs.RegisterDto

@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>

<form asp-action="SignUp" method="post">
    @Html.AntiForgeryToken()
    
    <div>
        <label asp-for="Username">Логин</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    
    <div>
        <label asp-for="Phone">Номер телефона</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone"></span>
    </div>

    <div>
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="FirstName">Имя</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName">Фамилия</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label asp-for="MiddleName">Отчество</label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName"></span>
    </div>
    
    <button type="submit" class="btn btn-success ms-0 m-3">Зарегистрироваться</button>
</form>

<p>Уже есть аккаунт? <a asp-controller="Auth" asp-action="SignIn">Войти</a></p>