@model List<TechStoreEll.Api.Entities.Role>


@{
    ViewData["Title"] = "Privacy";
}

<h2>Список ролей</h2>

@if (!Model.Any())
{
    <p>Роли не найдены.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
        </tbody>
    </table>
}