@{
    ViewData["Title"] = "Условия использования";
}

<section class="py-5">
    <div class="container">
        <h1 class="mb-4">@ViewData["Title"]</h1>
        <p class="lead text-body-secondary">Пожалуйста, ознакомьтесь с условиями использования нашего сайта.</p>

        <p>Используя наш сайт, вы соглашаетесь с условиями покупки, возврата и обработки персональных данных.</p>

        <h4>Заказы и оплата</h4>
        <p>Все заказы подтверждаются через корзину и оплачиваются безопасными методами.</p>

        <h4>Возвраты и обмен</h4>
        <p>Вы можете вернуть товар в течение 14 дней при сохранении товарного вида.</p>

        <h4>Ответственность</h4>
        <p>TechStoreEll не несет ответственности за ошибки на сайте или непредвиденные задержки доставки.</p>
    </div>
</section>